[user]
	email = 67658575+braz9LKDI@users.noreply.github.com
	name = braz9LKDI
[core]
	editor = nvim
	autocrlf = input
	ignorecase = false
[init]
	defaultBranch = main
[safe]
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/TerraformLab
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/SST_indicators_hub
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/SST_indicators_hub/src/api
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/SST_indicators_hub/src/data_worker
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/SST_indicators_hub/.git
	directory = %(prefix)///wsl.localhost/archlinux/home/brandon/programming/SST_indicators_hub/src/frontend
