Host github_personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/personal
	IdentitiesOnly yes

Host github_work
	HostName github.com
	User git
	IdentityFile ~/.ssh/work
	IdentitiesOnly yes

Host gitlab
	HostName gitlab-ssh.endava.com
	User git
	IdentityFile ~/.ssh/gitlab
	IdentitiesOnly yes
