Host github_personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/github_personal
	IdentitiesOnly yes

Host github_job
	HostName github.com
	User git
	IdentityFile ~/.ssh/github_job
	IdentitiesOnly yes

Host gitlab
	HostName gitlab-ssh.endava.com
	User git
	IdentityFile ~/.ssh/gitlab
	IdentitiesOnly yes
