* {
	font: "CaskaydiaCove Nerd Font Mono 10";

	background:     #262626;
	foreground:     #BCBCBC;

	black:   #1C1C1C;
	red:     #AF5F5F;
	green:   #5F875F;
	yellow:  #87875F;
	blue:    #5F87AF;
	magenta: #5F5F87;
	cyan:    #5F8787;
	white:   #6C6C6C;

	light-black:   #444444;
	light-red:     #D78787;
	light-green:   #87AF87;
	light-yellow:  #FFFFAF;
	light-blue:    #87AFD7;
	light-magenta: #8787AF;
	light-cyan:    #5FAFAF;
	light-white:   #FFFFFF;
}
